
project_id = "gehhxwqlhzsesxzqleks"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322
shadow_port = 54320
major_version = 15

[realtime]
enabled = false

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true

[auth]
enabled = true
site_url = "http://127.0.0.1:5173"

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[[auth.external_oauth_providers]]
enabled = false
client_id = "env(TWITCH_CLIENT_ID)"
secret = "env(TWITCH_SECRET)"
provider = "twitch"

[functions]
[functions.create-conversation]
verify_jwt = true

[functions.start-conversation]
verify_jwt = true
